/* Define your theme modifications inside next mixin */
@mixin com_company_demo-halo-ext {
  .demo-widget {
    height: 150px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: $v-border-radius;

    text-indent: 10px;
    padding-top: 5px;
    font-size: 40px;
  }

  // Dashboard styles

  .big-number {
    font-size: 50px;
  }
  .rl-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .demo-rl-scroll {
    overflow-y: auto;
  }

  .map-row {
    height: calc(100% - 170px);
  }

  .map-col > * {
    height: 100%;
    padding-top: 10px;
  }
}